[2017-12-10 21:14] campisano opened #1 "[Bug]"
Apparently there is a index error, this is my test case:

 - sample.csv:
[code]

- test.cpp
[code]

- error:
[code]

[2017-12-10 21:18] campisano opened #2 "[Feature] allow std::vector<char> column load"
From the code, it is possible to see that the focus is for CSV that contains numbers (int long float double), but in my case I have a lot of data in the form of columns of just one char (time-series CSV discretized using SAX), so my propose is to include code to convert from char and obtain std::vector<char>

[2017-12-10 21:52] campisano commented on #1
Sorry, my mistake. Working at #2 I did understand that the error is that I must define that I don't want to consider the first column as rownames, the follow code works:

[code]

[2017-12-10 22:05] campisano opened #4 "[Feature] allow the use of GetRowCount and GetColumnCount methods, making them public"
I have a use case where the input CSV has a variable number of columns, and I need to load them as vectors.

- Actually, I think that I need to do something like that:
[code]

- to know at runtime that there are just 3 columns:
[code]

- when I could use the (currently private) doc.GetColumnCount():
[code]

- and obtain:
[code]

- PS the used data is the follow:
[code]

[2017-12-10 22:28] campisano commented on #4
@d99kris I'm not sure that the change that I'm proposing has the behavior that can be expected.

I did a commit with the follow test case in my fork (commit 9c370dd)

[code]

GetColumnCount and GetRowCount are counted independent if the user consider or not the CSV top and left headers, and that make sense internally, but probably not if you agree to expose this function to the user.

Can I make t

[2017-12-11 14:20] #4 closed

[2017-12-11 14:21] d99kris commented on #4
Thanks a lot @campisano - it does make sense to have methods exposed to allow getting row and column counts. I took some parts from your patch and restructured it a little and renamed the internal methods to separate them from the new public ones. Closing this issue.

[2017-12-11 14:30] d99kris commented on #2
This is an interesting use-case. With a background in embedded I always think of char as a generic 8-bit storage, but it seems it's generally separated from the integer types - for example here: http://en.cppreference.com/w/cpp/language/types

So I think special handling for the char datatype could make sense.

Will try to take a look at your PR and see how it can be incorporated.

[2017-12-12 14:02] #2 closed

[2017-12-12 14:04] d99kris commented on #2
Hi @campisano - I've made some adjustments to the PR code and pushed the code. Please have a look at the commit e25a485 and let me know if you see any issues or have suggestions for improvement.

[2017-12-12 14:21] d99kris opened #5 "Adjust input/output parameter order"
Swap reference and const reference argument order. It's a good practice to put all modified parameters at the end of function argument list.

[2017-12-12 14:22] d99kris opened #6 "Make functions of `Converter` class as const"
Make functions of `Converter` class as const as they don't modify the class.

[2017-12-12 14:23] d99kris opened #7 "Sort headers in alphabetic order"
The includes short be sorted alphabetically.

[2017-12-12 14:24] d99kris opened #8 "Add explicit constructor for struct Properties"
struct `Properties` has default implicit constructor

[2017-12-12 14:25] d99kris opened #9 "Assign empty string using std::string() rather than """
It's better to replace `const std::string& pPath = ""` by `const std::string& pPath = std::string()` to avoid unnecessary type conversion.

[2017-12-12 14:38] #7 closed

[2017-12-12 14:43] d99kris commented on #6
Test case test035.cpp as well as README also needs to be updated accordingly.

[2017-12-13 13:18] #9 closed

[2017-12-13 13:41] #6 closed

[2017-12-13 13:47] d99kris opened #10 "Make get-methods const"

[2017-12-13 13:49] #10 closed

[2017-12-13 13:54] #8 closed

[2017-12-13 13:56] d99kris commented on #5
Reference: https://google.github.io/styleguide/cppguide.html#Function_Parameter_Ordering

[2017-12-13 14:02] #5 closed

[2018-01-18 12:33] valerius21 opened #11 "Using a different seperator?"
Hey, I really love this project. It makes my life so much easier.
So far the `rapidcsv.h` header file worked really well with actually comma separated files. However. I could not find any parameters which would allow me to use separators like `';'` or `' '`.
Only for writing I have found a way to solve this problem, by modifying line 598ish properly. Do you have any suggestion how the use of diffe

[2018-01-18 15:15] d99kris commented on #11
Thanks, I'm happy you find the project useful.
You're correct, there's currently no support for using other separators.
I don't mind adding support for that though, probably by adding another Properties field. I hope I can find find some time in the next few days to do it. Will update this issue.

[2018-01-19 11:39] #11 closed

[2018-01-19 11:40] d99kris commented on #11
I've added support for custom separator in above commit. It can be used like this to open a file with semi-colon separated fields:

[code]
Hope this works for you, otherwise let me know.

[2018-01-19 12:00] valerius21 commented on #11
Awesome! I'll give it a try! Thanks for your effort!

[2018-03-17 20:57] PayasR opened #12 "Handle empty rows/columns"
I am parsing a CSV that has empty columns (no column heading, no data, just columns) and getting this error

[code]
Which makes perfect sense, but is there a good workaround? (Apart from indexing the columns by column IDs)?

[2018-03-17 21:05] PayasR commented on #12
And as a corollary, is there a way to handle null values in data?

[2018-03-17 21:30] PayasR commented on #12
Issue also pointed out in https://stackoverflow.com/questions/1120140/how-can-i-read-and-parse-csv-files-in-c

[2018-03-18 14:48] d99kris commented on #12
Hi, I'm not at my computer so I cannot test things right now, so could you help provide some more details?
You mentioned the data has empty columns, so does it look something like this:
`A,,C,D`
`1,,3,4`
`2,,6,8`
And you're getting the error when trying to read which column or row, and as what datatype? I.e. could you provide the API call done, like `GetColumn<int>("A")`?
Thanks!

[2018-03-18 18:11] PayasR commented on #12
Okay so I figured it out, the problem wasn't empty columns, the problem was null values. Trying to parse this:
[code]
gives `terminate called after throwing an instance of 'std::invalid_argument'
  what():  stod
[1]    14053 abort (core dumped)  ./a.out columns.txt
`. The fix is simple, add (to namespace rapidcsv)-
[code]

But again, shouldn't this be the default behaviour?

[2018-03-20 15:39] d99kris commented on #12
Thanks for providing the details and a workaround. I would be inclined to add an option - "hasDefaultConversion" - which allows processing invalid numbers (including empty string), along with float and integer default value options (where NaN should be default for floats/double). I will look into it and prepare the changes. Probably in a week or so, as I'm currently a bit busy.

[2018-03-31 14:39] #12 closed

[2018-06-30 21:53] Shot511 opened #14 "Add method to check if a column exists"
It would be nice if _rapidcsv_ will have public method to check if a column with a specific name exists in a csv file. So far, we can only load columns with a given name, and if the column does not exist it throws the exception and quits the program.

It would be good to give the user of _rapidcsv_ ability to handle cases when specific column does not exists.

[2018-07-02 13:52] d99kris commented on #14
Thanks, that's a good suggestion. I'll probably go with exposing a method to get a vector of all column names (and row names correspondingly). I can probably add a simple documentation example how an application can check whether a particular column name exists as well - using this new method.

[2018-07-04 13:54] fordp2002 opened #15 "rapidcsv is not that rapid!"
Thanks for this module. I expected it would be faster than it is however.

I changed the main character addition line from:
cell = cell + buffer[i]; to
cell += buffer[i];
and on Visual Studio 2017 64 bit it ran twice as fast!

[2018-07-05 13:47] d99kris commented on #15
Thank you, I'll try add some performance test(s) to this project and check if your suggestion applies across platforms, and change the code accordingly.

Generally speaking on performance there's a trade-off between the "simplicity" of the API vs. raw throughput, and rapidcsv (despite its name) focuses on ease-of-use (and enabling rapid _development_). So I'm pretty sure there are other CSV librar

[2018-07-05 15:57] #14 closed

[2018-07-09 14:06] d99kris commented on #15
Thanks @fordp2002 - I can confirm the suggested improvement applies for all three major platforms (Linux, Mac, Windows). Measurement data for ptest002.cpp (which essentially just loads a CSV file) before and after fix are provided below. Will proceed to merge the fix.

Linux: before 53.4 ms --> after 37.9 ms
Mac: before 72.4 ms --> after 30.2 ms
Windows: before 33.5 ms --> after 10.7 ms

[2018-07-09 14:07] #15 closed

[2018-07-10 06:59] fordp2002 commented on #15
Thanks for this, it is great that you are willing to make improvements!

[2018-08-21 06:37] mikaelxu opened #18 "Doesn't support number in scientific notation"
For example, if a number is written as 2.00E-07, the code does not recognize this scientific notation and will return 0.000000 instead when printed out as float.

[2018-08-22 09:10] d99kris commented on #18
I assume the issue you are seeing is related to writing CSV files, as I believe reading in scientific notation is already supported.

[2018-08-22 09:13] #18 closed

[2018-08-22 09:26] d99kris commented on #18
@mikaelxu - Please let me know if the fix doesn't solve the problem. In that case please help provide a simple code example and preferable some CSV data that reproduces the problem.

[2018-08-23 04:13] mikaelxu commented on #18
Sorry for my mistake. You are correct, the code has no problem reading scientific notation. It was my mistake that when printf a float number, I didn't specify the printing format correctly and therefore the output shows 0.000000.

[2018-08-23 04:40] mikaelxu opened #19 "CSV file with header row at other position"
I have a CSV file whose header row is at row 6.

I tried using doc.RemoveRow() to delete the first few rows and then read the values of a column and it doesn't seem to work.

Howe can I delete row 1 to 5 using the program?

[TimingSets2-10M.zip](https://github.com/d99kris/rapidcsv/files/2312925/TimingSets2-10M.zip)

[2018-08-23 14:07] d99kris commented on #19
The easiest way to skip rows with rapidcsv is to specify on which (zero-based) row the headers are, using LabelParams when loading the CSV file. As the headers in your case are on the 6th row, the value to use will be 5. Example loading the file and extracting column "Period" as a vector of double and printing each value:

[code]

Let me know if there are still any issues!

[2018-08-23 14:07] #19 closed

[2018-08-23 14:13] d99kris commented on #18
No worries! Good thing is that it led me to find (and fix) a bug related to writing numbers in scientific notation to a CSV file.

[2018-08-24 06:32] mikaelxu opened #20 "Support for Column Data Type that is string"
I have seen that there is an issue that is about supporting column data type that is "char".
How about a string (in C/C++, it means a null terminated char array).

In the attached example csv format file, there are columns that contain strings.

[Pin Voltage Levels.txt](https://github.com/d99kris/rapidcsv/files/2317285/Pin.Voltage.Levels.txt)

[2018-08-24 07:39] mikaelxu commented on #20
i have figured it out how to do that.
like this.
std::vector<std::string> vec = doc.GetColumn<std::string>("Pin/Group");

[2018-08-24 07:39] #20 closed

[2018-08-24 12:51] d99kris commented on #20
Yes, you're correct, requesting the data as std::string is the right approach. Maybe I'll try add some example covering this in the README next time I update it.

[2018-09-12 14:59] CarloErnestoSarli opened #21 "Not Reading First Column of CSV File"
Hello,
First of all thank you for your work on this library it seems pretty awesome.
That said I have an issue that I don't understand:
I have a CSV file like this:

Nodes,Inputs,Outputs,Group,DATA SOURCE
Coatings,Bio-polymers,,1,barron18MarchMeeting.pdf p. 4
Chemicals,,,1,barron18MarchMeeting.pdf p. 4
Health,Lipids,,1,barron18MarchMeeting.pdf p. 4
Personal care,,,1,barron18MarchMeeting.pdf p. 4
.

[2018-09-13 06:03] ChenJasonGit commented on #21
Hi,
std::vector<std::string> columnNames = doc.GetColumnNames();
Lost the first column.Please Help!
Thanks a lot
Jason

[2018-09-13 13:06] d99kris commented on #21
Hi @CarloErnestoSarli -
By default rapidcsv treats the first row as column headers/labels, and the first column as row headers/labels - see https://github.com/d99kris/rapidcsv#reading-a-file-without-headers

So in this case when you don't want any row labels, you need to construct the document with LabelParams pRowNameIdx set to -1 (disabled). I.e. like this:
`c++
rapidcsv::Document doc("InternetO

[2018-09-13 13:08] d99kris commented on #21
Hi @ChenJasonGit -
I believe you are facing the same problem, try following the example I provided above.
Regards,
Kris

[2018-09-15 08:45] CarloErnestoSarli commented on #21
Thank you I will try this as soon as I can and ket you know :)

[2018-09-16 06:36] d99kris commented on #21
Closing the issue, we can re-open if there's still some issue found after testing.

[2018-09-16 06:36] #21 closed

[2019-02-10 19:15] fpohtmeh opened #23 "Unicode support"
I checked file with encoding UTF-16 LE. Parser skips 1st column name here.

[2019-02-11 14:02] d99kris commented on #23
Yes, rapidcsv currently does not implement any special handling for UTF16 LE/BE, however UTF8 should probably work fine. Could you please share a CSV file with UTF-16 LE encoding that you have problems with?

So in case I try to address this, I have some real-world test case. If the data is sensitive, feel free to reduce the number of lines/rows and replace actual data with dummy values.

[2019-02-11 21:06] fpohtmeh commented on #23
[csv.tar.gz](https://github.com/d99kris/rapidcsv/files/2853028/csv.tar.gz)
Please let me know if more assistance is needed

[2019-02-14 13:57] d99kris commented on #23
Thanks a lot! I'm a little busy this week, but I hope I can get a chance to look at it in the weekend.

If you're in need of a temporary workaround it's possible to do external conversion from let's say UTF-16 to UTF-8 using the utility iconv on Linux and Mac, and then read it using rapidcsv.

[2019-02-17 12:59] #23 closed

[2019-02-17 13:02] d99kris commented on #23
I've implemented something that seems to work across Linux, Mac, Windows. It is dependent on codecvt header (C++11 feature). Let me know if you encounter any issues.

[2019-05-25 03:51] akeyliu opened #25 "Add support for access original data for advanced process and load csv from string."
Thanks for your contribution for rapidcsv, and I'm using it in my project.
There are some new requirement from me for advanced usage for rapidcsv, and I hope it can help on improving rapidcsv.
1. I suggest to add another function to load csv, currently ,there are 2 function to call ReadCSV,  one is the csv filename in string, another is the istream.  And there is another usally condition to load C

[2019-05-26 07:27] d99kris commented on #25
Hi @akeyliu - thanks for your input / suggestions.

1. I have previously thought about adding such API's as well. For consistency it would need a Document() constructor, as well as Load() and Save() overloads. The problem is that these three API's already accept std::string as a first argument, for file path. If you have a proposal for an API that does not conflict with existing API, feel free to

[2019-05-26 07:30] d99kris commented on #25
I realise that the support for these use-cases are not currently clearly documented, so at least I could try improve the documentation for that.

[2019-06-04 02:38] akeyliu commented on #25
Thanks for your reply and explain!
1.  I know that it is easy to confuse for using file name and string object as the same parameter in the same construct function. My suggestion:
   Solution 1:   Still using single string as the parameter, but update the logic in the construct  function as follow: (1) check if it's a file name or not, (2) if yes, process as file name, else try to process as an in

[2019-06-04 05:32] akeyliu opened #26 "Improvement on CSV content parse."
I reviewed the source code of RapidCSV. and have some suggestion for code in line 952-988.
`
if (buffer[i] == '"') { if (cell.empty() || quoted ) { quoted = !quoted; } else { //Throw Exception for un-paired content. } cell += buffer[i]; } else { if ( quoted ) { cell += buffer[i]; } else if (buffer[i] == mSeparatorParams.mSeparator) { row.push_back(cell); cell.clear(); } else if (buffer[i] == '\r')

[2019-06-04 05:54] akeyliu commented on #26
I attach the Ubuntu CSV file before modify the .csv to .txt for uploading.
[map_de.txt](https://github.com/d99kris/rapidcsv/files/3250676/map_de.txt)

And, I reviewed the source code of RapidCSV.  and have some suggestion for code in line 952-988.
`
if (buffer[i] == '"')
{
    if (cell.empty() || quoted )
    {
        quoted = !quoted;
    }
    else
    {
        //Throw Exception for un-paired

[2019-06-04 06:05] akeyliu commented on #26
Some Additional Info:
1.  No special Macro defined to compile with RapidCSV.
2. Initialize with no column name with code `rapidcsv::Document csvDocument( strAdjacentFile, rapidcsv::LabelParams(-1, -1) );`

[2019-06-04 10:36] d99kris opened #27 "Add more examples to README"
Proposed examples to be added:
1. List supported datatypes for Get/Set-functions, i.e. int, long, long long, unsigned, unsigned long, unsigned long long, float, double, long double, char, std::string.
2. How do construct Document from a std::string containing CSV data, using stringstream - see #25
3. Examples showing reading three common CSV file types (with table illustrating file content); no he

[2019-06-04 10:50] d99kris commented on #25
Hi @akeyliu - thanks for the reply and the suggestions.
1. Regarding solution 1 I feel there are two main problems; it's not common to have one parameter having two different functionalities so it could be confusing to users of the library, and it doesn't allow users to "try/catch" to see if a CSV file exist (as the name would be treated as data if it didn't exist). Regarding solution 2 I do not w

[2019-06-04 10:50] #25 closed

[2019-06-04 10:54] d99kris commented on #26
Hi @akeyliu - thanks for suggesting improvements! Could you please submit a pull request (preferred), alternatively attach a patch with your changes? The code pasted above is difficult to read. Also please provide some description of the problem it fixes, or what the changes improve. Thank you.

[2019-06-04 10:57] d99kris commented on #26
Also, perhaps you could help update the issue title to better describe the improvement or issue it addresses. Thanks!

[2019-06-07 00:18] akeyliu commented on #26
1. I Change the issue title ( I remember I change it but maybe forget to save the title change.)

[2019-06-09 03:42] d99kris commented on #26
Thank you for submitting pull request. I'll provide feedback on it  https://github.com/d99kris/rapidcsv/pull/28

[2019-06-09 09:18] #27 closed

[2019-06-09 11:38] d99kris commented on #25
Hi @akeyliu - thanks for highlighting the need of constructing a rapidcsv::Document from a std::string with CSV data. In #29 the documentation was updated to (hopefully) clearly document this use-case. Please let me know if you have any suggestions for improvements. Thanks!

[2019-06-11 19:56] MaxHayman opened #30 "Reading line by line and ignoring empty lines"
Hello

Is there an example of reading a file line by line?

Also how can I handle empty lines

e.g.

[code]

[2019-06-13 15:11] d99kris commented on #30
Hi @MaxHayman - while rapidcsv may be used to read CSV data line by line, its API is not really intended for it. At the time I wrote rapidcsv there were a couple open source C++ CSV parsers available which all required the application to do the line iteration and handling. I needed a CSV reader which directly could give me a specific column, cell (or row) without reading line by line.

One can use

[2019-07-10 13:16] d99kris commented on #26
Closing this issue, feel free to re-open if you want to pursue this in the future.

[2019-07-10 13:16] #26 closed

[2019-07-10 13:16] d99kris commented on #30
Closing this issue, feel free to re-open if you want to pursue this in the future.

[2019-07-10 13:16] #30 closed

[2019-08-12 21:37] Gjacquenot opened #31 "Add a trim column name option"
Would it be possible to add a trim option for colum name?
It would allow to read the following CSV, and get `a`, `b`, `c` as columns names and not ` b`, ` c`

    a, b, c
    0, 1, 2

I guess it requires to update line [1012](https://github.com/d99kris/rapidcsv/blob/ee00705156a5dd7bead1720776287bf278c85a63/src/rapidcsv.h#L1012) of the file

[2019-08-12 21:57] Gjacquenot commented on #31
We can work around this problem with the following additional line of codes, where `trim` is any version of proposed on [stackoverflow](https://stackoverflow.com/questions/216823/whats-the-best-way-to-trim-stdstring) or on this [blog](https://www.techiedelight.com/trim-string-cpp-remove-leading-trailing-spaces/)

    rapidcsv::Document doc(filename);
    for (size_t i = 0; i < doc.GetColumnCount()

[2019-08-13 14:33] d99kris commented on #31
Yes, that sounds like a reasonable idea / feature request. I'm thinking that perhaps it could be a general trim option, not only for labels but also for data cells (for the case when reading data as std::string).

I will take a look at it, but I can't promise a quick turnaround time as I'm a bit busy at the moment.

Thanks for providing the workaround btw!

[2019-08-17 15:26] #31 closed

[2019-08-17 15:28] d99kris commented on #31
I've implemented something now. It can be used like this (to enable trimming):
[code]
See tests/test061.cpp for complete example usage. Please let me know if you find any issues with the functionality.

[2019-08-17 20:11] Gjacquenot commented on #31
It works like a charm! Thanks for the quick update.

[2019-09-05 11:52] t-sommer opened #33 "Allow GetCell() by row index and column name"
It would be convenient to allow direct access to a cell's value by row index and column name like this:

[code]

Motivation: I'm iterating through a CSV with time series and I know the rows are in chronological order. However I only know the column names but cannot rely on their order.

[2019-09-05 15:35] d99kris commented on #33
Sure, I can look into adding that. I'm travelling for the next week or two, so I wont have time to look into it any time soon, but I'll take a look once I'm back.

As a temporary solution you could perhaps use GetColumn(const std::string& pColumnName) and iterate (or access indices) of the vector returned.

[2019-09-22 14:03] #33 closed

[2019-10-30 14:36] Tschwen opened #34 "Can't call GetColumn on First Column"
A call to `GetColumn(std::string)` always results in a std::out_of_range.
Tried this with `ex001` and `"Date"` as collumn.
I guess the Problem is that this: https://github.com/d99kris/rapidcsv/blob/master/src/rapidcsv.h#L1144

`          return mColumnNames.at(pColumnName) - (mLabelParams.mRowNameIdx + 1);
`
is returning `-1`

as `mColumnNames.at(pColumnName)`  = 0 and `mLabelParams.mRowNameIdx +

[2019-10-31 07:00] Tschwen commented on #34
Typical case of "you're holding it wrong" ... sorry missed the LabelParams(**-1**)

[2019-10-31 07:00] #34 closed

[2019-10-31 11:23] d99kris commented on #34
Good to hear you solved it. Actually you're not the first one encountering this issue, also #1 and #21 reported the same I think. I'm considering to change the default LabelParams so less users will face the issue, but there's a lot of unit tests to update so I haven't gotten to it yet.

[2019-12-01 09:16] LaGvidilo opened #39 "Getter most precise"
I wish know names  of cols and rows rapid...

now I have implemented in my Konectik tool (ANN algorithm), this exemple of a part in my code:
[code]

If I don't understand and no see, tell me.

[2019-12-01 10:42] d99kris commented on #39
I believe you should be able to get the column names using something like this (instead of manually reading it):
[code]

If there still are problems, please help share the CSV file you are attempting to read. Or just the first 3 lines. Then I can help run a quick test on my side and help debug. Thanks!

[2019-12-08 14:21] d99kris commented on #39
Let me know if you are still facing issues, otherwise I will close this issue tomorrow. Thanks.

[2020-01-14 11:42] d99kris commented on #39
Closing this issue, please re-open if you are still facing issues.

[2020-01-14 11:42] #39 closed

[2020-05-28 04:31] denisfitz57 opened #45 "First column not being read"
When I read a csv file as follows:
std::vector<int> picseq = doc.GetColumn<int>("picseq");

where picseq is the first column, I get a column not found error. It's attached, renamed with a .txt extension.
I seemed to have fixed it with the changes below, dropping some "+ 1" - however, let me stress I do not know what I am doing - I don't really understand the code and I just tried to make bad indic

[2020-05-28 15:29] d99kris commented on #45
So this has come up a couple of times in the past, for example in issues #21 and #34. Basically rapidcsv treated the first column as labels for rows by default, which one could workaround with LabelParams like this:
[code]
_However_, since this has come up quite a few times by now, I'm now finally going to change the default behavior or rapidcsv, so that the first column is treated as data by defa

[2020-05-28 15:48] #45 closed

[2020-05-28 15:48] denisfitz57 commented on #45
Thanks for you quick response, and I apologize for not checking the issues first.  Your workaround will be fine for me, and an update would be appreciated.

Denis

From: Kristofer Berggren <notifications@github.com>
Sent: Thursday, May 28, 2020 10:30 AM
To: d99kris/rapidcsv <rapidcsv@noreply.github.com>
Cc: Fitzpatrick, Denis F <Denis.Fitzpatrick@boystown.org>; Author <author@noreply.github.com>
S

[2020-05-28 15:50] d99kris commented on #45
No worries!

I have now pushed an update. Let me know if you still encounter any issues using latest rapidcsv code.

[2020-06-27 13:39] d99kris opened #48 "Add support for removing double quotes around cells"
This feature suggestion came in via email and I thought it made sense so I'm logging an issue.

Today when using rapidcsv to read a file with quoted cells, the actual double quotes are retained in the read data. So reading a file like
https://github.com/vincentarelbundock/Rdatasets/blob/master/csv/carData/TitanicSurvival.csv which has content like
[code]
then getting a cell using `GetCell<std::str

[2020-06-27 14:21] pdeitel commented on #48
Thanks Kristofer!

[2020-07-04 02:12] #48 closed

[2020-07-04 02:34] d99kris commented on #48
Hi @pdeitel - I finally got around to implement support for this now. Dequoting of cells is enabled by default, and can optionally be disabled - see https://github.com/d99kris/rapidcsv#handling-quoted-cells

A simple example reading `TitanicSurvival.csv` and getting a column `survived` can look like this:
[code]
And the output from this program would be:
[code]
Let me know if you encounter any iss

[2020-07-04 11:31] pdeitel commented on #48
Awesome Kristofer! Thanks!

[2020-07-06 16:36] euyuil opened #49 "Is there a plan to release conan packages?"

[2020-07-06 23:34] d99kris commented on #49
Hi @euyuil - I can look into Conan packaging. I'm not too familiar with it, but assuming it's not too much work it should be doable. Will do some investigation when I find time and update here again.

[2020-07-14 11:13] traversaro opened #50 "Parse CSV from string/memory buffer"
Hi @d99kris, thanks a lot for the great library!

I had a small question: it is possible to use `rapidcsv` to load csv text that has been already loaded in memory, for example that is contained in a `std::string` or a similar memory buffer? This is convenient when the CSV text to parse is not part of a file in a filesystem, but for example has been obtained from a network communication.

[2020-07-14 11:45] d99kris commented on #50
Hi @traversaro - yes it is supported. Please check the details here: https://github.com/d99kris/rapidcsv#reading-csv-data-from-a-stream-or-string

Essentially rapidcsv can accept an std::istream, for example an std::stringstream, so you can do stuff like:

      std::string csv = "my,csv,data";
      std::stringstream sstream(csv);
      rapidcsv::Document doc(sstream)

[2020-07-14 12:18] traversaro commented on #50
Hi @d99kris, thanks a lot for the quick reply.

[2020-07-14 12:18] #50 closed

[2020-07-20 18:35] 0x0c opened #51 "Why GetRowIdx is private?"
Hi, I use `rapidcsv` with [`ImGui`](https://github.com/ocornut/imgui) to show csv as a table.

I want to hightlight a row in table that corresponds to row name.
To do so, `GetRowIdx` needs to be public method, however it's not.
I think that make `GetRowIdx` method public is good for use with other C++ library.
Could you tell me any reason of the method is private?
If there is no reason, I'll send

[2020-07-21 14:52] d99kris commented on #51
Hi @0x0c - that's a good question. I guess technically it could be a public method.

The reason it has not been exposed before is that for most use-cases it is not needed, and by restricting the number of public methods it makes it potentially easier to read the documentation and use the library.

But I could see the benefit of exposing it too - it makes it easy to check if a column or row is pres

[2020-07-21 18:29] 0x0c commented on #51
Thank you for your reply @d99kris.

Ok, I'll sent PR after few weeks.
I have a question that are there any coding style for this repo?
I'm looking for adding some files that contains unit test or setting file of clang-format.
So I follow your style if it available.

[2020-07-22 15:17] d99kris commented on #51
Hi @0x0c - that sounds great!

There's no proper documented coding style for rapidcsv. We generally try to follow Google's C++ style guide and for code layout we use uncrustify. If you're using Mac or Linux you can use the following bundled script to adjust code layout:
[code]

As for test example I would suggest to copy any of the existing tests under tests/ and base it on that. No need for any c

[2020-07-22 18:21] 0x0c commented on #51
@d99kris Thanks a lot.
I done with make methods public and add tests.
I'm working to generate API documentation and I suggest to make it using Doxygen.
Currently you use `doxyman2md` to generate markdown but I can't generate .md file correctly.
There are wiered result that contains `\fI` for each parameters description.

I think it's time to add Doxyfile and use Doxygen as is.
If it is acceptable

[2020-07-23 12:44] d99kris commented on #51
Hi @0x0c
Yeah the current `doxyman2md` implementation is not very robust, so it has stopped working with recent Doxygen releases. I've been meaning to fix this, but other projects have had more urgent issues.

For now, I would propose that you submit a PR with the changes you have for GetRowIdx/GetColumnIdx, and once those have been accepted/merged I can generate the API documentation update from

[2020-07-23 16:12] 0x0c commented on #51
@d99kris
Ok, I focus to modify GetRowIdx/GetColumnIdx and related document.
Unfortunately, I can't generate documents correctly by `doxyman2md` because of I mentioned, so I modify the documents manually. So please check a format of the documents.

I send PR, please check and tell me your feedback :)

[2020-07-24 12:48] lk1983823 opened #53 "Why debugging says ‘stoi’ is not a member of ‘std’?"
This is my c_cpp_properties.json:
[code]
However, it shows in the rapidcsv.h says that:
‘stoi’ is not a member of ‘std’ .. about 78 errors;

[code]
don't work. Thanks.

[2020-07-25 12:56] #51 closed

[2020-07-25 13:34] d99kris commented on #53
Can you compile a simple C++ program using `std::stoi()` (without including `rapidcsv.h`), like for example this?
[code]

If not, there's probably some basic error in your project setup or compiler selection. Unfortunately I'm not familiar with the json file content you shared, so I cannot comment much on that. But do double-check that you are indeed using a C++ compiler, and that your source file

[2020-07-27 07:47] lk1983823 commented on #53
@d99kris Unfortunately, I can't compile the code.

[2020-07-27 10:37] d99kris commented on #53
Hi @lk1983823 - Ok. If you cannot build a simple C++ program using C++11 features like `std::stoi()` I suspect the problem you have is not related to `rapidcsv` code. Here's a link with potential causes of the error `'stoi' is not a member of 'std'`: https://stackoverflow.com/questions/38034197/compile-error-stoi-is-not-a-member-of-std

If you share some more details about your setup, I could _pos

[2020-07-28 12:30] lk1983823 commented on #53
@d99kris  Thanks, I have compiled the code successfully. I added "-std=c++11" to the args in tasks.json.

[2020-07-28 14:37] d99kris commented on #53
Ok, that's good to hear. I will close this issue then. Feel free to re-open it if you encounter build errors again.

[2020-07-28 14:37] #53 closed

[2020-08-02 14:37] ooxi opened #54 "Modern CMake?"
Would you be willing in accepting a patch to modernize CMake usage? Like defining a target instead of variables containing include paths?

I would be willing to create such a patch, just checking whether there's a reason like backwards compatibility for keeping it that way :-)

[2020-08-02 15:08] d99kris commented on #54
Hi @ooxi - your suggestion sounds fine. Most users of this library just use the header-file and don't care much about the CMakeLists.txt file, so there's not much backwards compatibility to cater for. As long as the patch won't require a "crazy" new cmake version not available in recent OS releases.

Feel free to submit a PR and we can probably get it merged. Thanks!

[2020-08-02 17:36] ooxi commented on #54
@d99kris no I don't think I will need to push the CMake version requirement much, if at all. Will of cause make sure!

[2020-08-03 16:43] ooxi opened #55 "How to ignore empty lines at end of file?"
Given the following CSV

[code]

Calling `document.GetColumn<std::string>("COLUMN_A")` works but `document.GetColumn<std::string>("COLUMN_B")` throws an exception:

[code]

If I remove the empty line and the document's end, it works as expected. How can I tell rapidcsv to automatically ignore the empty line at the end?

[2020-08-04 14:56] d99kris commented on #55
There's currently no functionality in rapidcsv to skip empty lines. Let me think about whether this type of processing option should be added.

[2020-08-07 11:56] ooxi commented on #54
Just to make sure I understand the current CMake correct, most of it's content (especially compiler settings add definitions) are only used for the tests and examples and are not expected to be propagated to users of your library.

Is this assumption correct?

[2020-08-07 12:47] d99kris commented on #54
Yes the assumption is correct.

[2020-08-27 20:24] ragundo opened #60 "Column not found exception. I don't know why"
This CSV file

`

"VarName";"TimeString";"VarValue";"Validity";"Time_ms"
"TT_TK-001";"31/07/2020 11:34:43";0;0;44043482447,9051
"TT_TK-001";"31/07/2020 11:35:14";0;0;44043482796,0532
"TT_TK-001";"31/07/2020 11:44:43";48,6292;1;44043489384,1204
"TT_TK-001";"31/07/2020 11:45:13";48,19878;1;44043489730,9259
"$RT_OFF$";"31/07/2020 11:45:26";0;2;44043489885,5324
"TT_TK-001";"31/07/2020 11:52:34";25,582

[2020-08-28 14:30] Sven-HP commented on #60
I think the problem occurs because by
`rapidcsv::LabelParams(0, 0),`
you define that the leftmost column contains _row names_ instead of _data_.
When you instead use
`rapidcsv::LabelParams(0, -1),`
meaning "no row names" (which is the default), it should work.

Hope this helps you.

[2020-08-28 14:39] Sven-HP commented on #60
I did a quick test on my system, it works with your CSV. The last line is not a problem here.

[2020-08-28 16:37] ragundo commented on #60
You're right.

It wasn't clear to me the LabelParams value meaning.

Thaks a lot for this wonderful library.

[2020-08-28 16:37] #60 closed

[2020-08-31 12:58] d99kris commented on #60
Thanks @Sven-HP for helping with this 👍

Good to hear positive feedback. 👍

[2020-09-11 23:57] heitorPB opened #61 "Add option to ignore comment lines"
I often have csvs with a header, like this:

[code]

NumPy and Pandas have a parameter to ignore comment lines, by specifying a `comment` character, in this case it would be `#`.

It would be really great to have this feature in `rapidcsv`.

[2020-09-13 07:03] d99kris commented on #61
Let me do some research and see how/if this fits in rapidcsv. My gut feeling is maybe that it's outside commonly supported CSV features, so I'm hesitant to add support in rapidcsv. I'll get back..

[2020-10-06 17:14] pierluigiferrari opened #62 "Document copy constructor should not be explicit"
The [`Document` copy constructor](https://github.com/d99kris/rapidcsv/blob/d3b440b00304e9ac8d6c0d404649be33840c6249/src/rapidcsv.h#L408-L421) should not be `explicit`, because that makes it pretty much useless. For example, it needs to be called implicitly when returning a `Document` by value from a function.

The `explicit` qualifier should be removed, or even better, the entire copy constructor

[2020-10-07 13:37] d99kris commented on #62
Thanks for reporting this, you are absolutely right. Will push a fix shortly.

[2020-10-07 13:38] #62 closed

[2020-11-04 16:45] jpownby opened #63 "Confusing exception when a cell contains a newline"
A CSV file gave threw an exception ("invalid vector<T> subscript") when I called:

`document.GetColumn<std::string>(someIndex);`

This exception was confusing to me. `someIndex` was less than the result returned by `document.GetColumnCount()`, so I didn't understand what the problem was and had to debug the code to figure it out.

It turns out that the CSV file has a newline `\n` character in the

[2020-11-05 13:46] d99kris commented on #63
Hi @jpownby - thanks for reporting this issue and providing a very clear issue description!

It's definitely a valid feedback, and I'll see what I can do. My main concern is that rapidcsv will need to make assumptions about the use-case in order to provide more detailed error messages, but perhaps there's some way around it.

I'll update here again once I've had some time to look at this.

[2020-11-05 16:52] jpownby commented on #63
Here's an example of the kind of error message that I think would be helpful:

[code]

I don't know what use-case assumptions you mean, but an exception like that would have helped me in my situation because I could have gone and looked at the file to see what the problem was. It also would have been helpful to have the problem identified immediately rather than having an exception get thrown late

[2020-11-06 12:30] d99kris commented on #63
Thanks!

Yeah I should've been a bit more specific. I think there could be CSV files that does not necessarily have same number of columns on all rows. Definitely not a typical use-case, but I think it could exist. So I wouldn't want to restrict this at parser-level. But the type of check you suggested could of course be added in relevant Get-functions.

I'll play around with it a little and check

[2020-11-06 15:46] jpownby commented on #63
Oh, ok, I see. Well, in that case, maybe the bug would be that an exception is thrown in GetColumn() if the index given is bigger than a particular row has :)

[2020-11-18 22:09] annongitter opened #64 "reading a csv stream from aws s3"
Hi there, I am trying to read a csv file on s3 using `rapidcsv`. To this end, I have a workng snippet, which is simply this:
https://docs.aws.amazon.com/code-samples/latest/catalog/cpp-s3-get_object.cpp.html
and I can read the stream.

I would now like to use rapidcsv to get them into vectors and I have tried doing this:

[code]

but obviously this does not seem right :( Any clues on what I should

[2020-11-19 12:43] d99kris commented on #64
Hi @annongitter - do you know the return type of this expression in your code?
[code]
I am not very familiar with the AWS S3 API, but it would be really useful to know the type of `retrieved_file` to provide further advise.

As I believe you can see in the API documentation of `rapidcsv`, it accepts either a filename or a stringstream. So as long as retrieved_file is one of those, I think it shoul

[2020-12-04 21:31] Becheler opened #65 "stod exception"
Hello,
Thank you so much for this library ! It's amazing :+1:
I struggle reading my first document though. I receive a stod exception, and I don't exactly know why.

my sample.csv:

[code]
the code:
[code]
Output:
[code]
I don't really know what's wrong :/ Thanks !

[2020-12-05 01:10] Becheler commented on #65
Hi again !
The problem was aboslutely not related to rapidcsv, there were just many soft hyphens hidden in the data. Sorry for that, problem solved :+1:

[2020-12-05 11:28] d99kris commented on #65
Ok that's great to hear! :+1:
Will proceed to close this issue.

[2020-12-05 11:28] #65 closed

[2020-12-07 14:07] hsdk123 opened #66 "GetNextRow"
Hi, I'm looking at the GetRow function and realising that it does a linear search through all rows to get the specific row. This can be non-optimal sometimes and would like to request a GetNextRow() feature that would just increment from the previous row.

[2020-12-07 14:10] hsdk123 commented on #66
Oh nvm, seems we're loading all contents into memory

[2020-12-07 14:10] #66 closed

[2020-12-07 14:13] hsdk123 opened #67 "GetRow index"
Does index 0 start from the header, or does it start with the first row after the header?

[2020-12-07 14:21] d99kris commented on #67
By default rapidcsv treats the first row as column headers, and GetRow index 0 refers to the first row of data, i.e. the line after the header. In the README.md file there are examples of reading data with and without column headers.

[2020-12-07 14:24] d99kris commented on #66
Yeah, rapidcsv differs from several other C++ CSV libraries in this sense. If you'd like the application to have more control over the processing (for example for large files that cannot fit in RAM) it's probably better to use a different library, for example https://github.com/ben-strasser/fast-cpp-csv-parser

[2020-12-07 14:26] hsdk123 commented on #67
Nice, your fast feedback has made me decide to use this library, thanks @d99kris !

[2020-12-07 14:26] #67 closed

[2020-12-07 17:36] hsdk123 opened #68 "cmake option for building tests"
Hi, I'm pulling in the library through `FetchContent_Declare` (cmake), and this consequentially makes it s.t. all the tests are a part of the build as well. Would be great if an option is added to cmakelists to prevent tests from being added.

[2020-12-07 17:39] hsdk123 opened #69 "single threaded check"
Hi, I just wanted to make sure that this code works on a single thread, without spinning off multiple threads. Would someone be able to confirm?

[2020-12-07 17:40] hsdk123 commented on #68
It also looks like the header isn't auto exposed when just using `FetchContent_Declare`, this would be a great addition.

[2020-12-07 17:50] hsdk123 opened #70 "Get column names"
Hi, this is a request to add a func called `GetColumnNames()` that would return the column names in the csv. I notice there is already a variable called `mColumnNames`.

[2020-12-07 18:32] hsdk123 opened #71 "msvc compiler warnings"
[code]
I'm noticing a lot of these warnings appear when building with msvc.

[2020-12-08 12:56] d99kris commented on #69
I can confirm that `rapidcsv` does not use threads. If threading support gets added one day, it will likely be disabled by default and require a feature-define to be enabled (e.g. `#define RAPIDCSV_THREADING 1`).

[2020-12-08 12:57] #69 closed

[2020-12-08 13:00] d99kris commented on #70
That function already exists:
[code]
It's on line 1084 in `rapidcsv.h`.

[2020-12-08 13:00] #70 closed

[2020-12-08 13:08] #71 closed

[2020-12-08 13:09] d99kris commented on #71
Thanks for reporting. I believe it's been fixed in above commit. Please let me know if you still see any warnings. Thanks!

[2020-12-08 13:12] d99kris commented on #68
To be honest I'm not all that familiar with `cmake`. If you could suggest some concrete changes (e.g. in a pull request) I'd be happy to integrate it.

If not, I'll try take a look at this request when I have more free time (but probably not in the next couple of weeks).

[2020-12-08 15:57] hsdk123 commented on #68
https://github.com/d99kris/rapidcsv/pull/73

I've made a PR here - could you review?

[2020-12-08 19:56] hsdk123 commented on #68
@d99kris

[2020-12-13 09:45] #68 closed

[2021-02-13 23:13] DavidM-Fox opened #76 "MSVC error upon compiling simple main.cpp"
Hello! I'm trying to use your library to parse intraday and daily stock data and I get the following errors. (I removed some of my file paths)

[code]
Here is the main.cpp I tried to compile for parsing the intraday data.
[code]
Here is the main.cpp I tried to compile for parsing the daily data.
[code]
And here is the CMakeLists.txt
[code]

I just realized that clang-format ran on your header file

[2021-02-14 02:48] d99kris commented on #76
Hello @DavidM-Fox - thanks for the detailed description.

I tried a stripped down version of your cmake project along with the files you provided and I cannot reproduce any compilation error - neither with original rapidcsv.h nor if I run clang-format on it before building.

For reference - the commands I used to build were:
[code]

My test was done with VS2017, as it's the version I have installe

[2021-02-14 04:00] d99kris commented on #76
FYI - I did a quick test under VS 2019 here as well, and I cannot reproduce any build error.

[2021-02-14 06:05] DavidM-Fox commented on #76
I believe I have found the problem. However, I'm not too sure what could be causing it. It compiles completely normally and passes the above tests when I comment out the inclusion of my [avapi](https://github.com/DavidM-Fox/avapi) library. All of the code in my library is wrapped in an "avapi" namespace and works fine with a different csv header library.  I'm going to try to rewrite my library ste

[2021-02-14 14:14] d99kris commented on #76
Thanks for the update! Yes, your plan sounds good. If you'd like some help you could create a branch in your avapi repository with your current rapidcsv integration (which is failing). This way I could probably easier reproduce your exact build error and try see what is going wrong.

[2021-02-14 20:12] DavidM-Fox commented on #76
I believe I have found a fix! I made a new branch and started an overhaul of my library design. I tried running it again and received the same error.
[code]
these errors reference this
[code]
I changed ```std::min``` to ```(std::min)``` and it has begun to work perfectly.  I referenced this stack overflow article https://stackoverflow.com/questions/5004858/why-is-stdmin-failing-when-windows-h-is-i

[2021-02-15 13:11] d99kris commented on #76
Good finding, thanks for sharing!

Let me see how/if I can integrate a portable fix in rapidcsv to cater for this.

[2021-02-17 20:11] jtaylorme opened #77 "Using String for Input"
First.  Thanks for all the work on this project.  It is nicely done.

Second.  Hopefully I am not missing something obvious and wasting your time but given the following:

string txt_all = "1,2,3,4,5,6";
rapidcsv::Document csv_doc(txt_all, rapidcsv::LabelParams(-1, -1),
		rapidcsv::SeparatorParams(delimiter[0] /* pSeparator */,
			false /* pTrim */,
			rapidcsv::sPlatformHasCR /* pHasCR */,
			fal

[2021-02-17 20:57] jtaylorme commented on #77
Also, if I  submit this it works fine as well.
    istringstream(txt_all)

Jim

[2021-02-18 02:14] jtaylorme commented on #77
Also, if you would be so kind...What would a GetRow() look like using an Index?  I have tried:

vector<string> myvector;
myvector = GetRow<vector>(0);
myvector = GetRow<vector<string>>(0);
myvector = GetRow<string>(0);
myvector = GetRow<int>(0);
myvector = GetRow<>(0);
myvector = GetRow(0);
etc.

All fail outright in VS2019 except myvector = GetRow<string>(0);.  It compiles fine but I get the same

[2021-02-18 11:50] d99kris commented on #77
Hi @jtaylorme - the `Document()` constructor accepts either a `std::string` containing a file path to a CSV file or a `std::istream` pointing to a stream of CSV data.

The way to read CSV data stored in a `std::string` is to use a string stream, as you've found. It's documented in the [README](https://github.com/d99kris/rapidcsv#reading-csv-data-from-a-stream-or-string) as well.

[2021-02-18 14:21] jtaylorme commented on #77
I see now and how I misinterpreted the string overload.  Thank you.

Jim

[2021-02-18 14:21] #77 closed

[2021-02-20 05:22] #76 closed

[2021-02-20 05:24] d99kris commented on #76
Thanks again for sharing the findings. I've committed a fix now, and a test to cover this as well.

[2021-02-22 04:00] jtaylorme opened #79 "Load New Document using same variable."
I think I have everything working I wanted to do with one exception.   I probably have a somewhat unique use case where I need to load a document to a global variable so I can make calls from other from other functions but the situation is such that I cannot pass the document as a parameter.   This works fine apart from the fact that I can't load a new file.  It keeps the old one.  Seems odd and I

[2021-02-22 11:30] d99kris commented on #79
Hi @jtaylorme - I think you've identified a bug in `rapidcsv`. As for my personal use; I've always created a new `Document` object for each CSV file I'm working on, so I have not encountered any issues. But looking at the code I see that the `Load()` functions do not clear the internal data structures before loading. This is likely the issue you are facing. I assume your code is (simplified) somet

[2021-02-22 12:11] d99kris commented on #79
Hi @jtaylorme - Thanks for catching and reporting this bug!

I've committed a fix now, enabling multiple `Load()` calls on a single `Document` instance.

Please let me know if you still encounter any issues.

[2021-02-22 14:37] jtaylorme commented on #79
Excellent.   That resolves points one and two.   Thank you.

As far as the third part of the post, is there a way to load a document ( doc.Load() )  and set new parameters.   That is, LabelParam, SeparatorParam, etc.?   I would like to be able to make these an option for the user but that is currently not possible without a LOT of extra coding, as far as I can tell.  Obviously, I could be missing

[2021-02-22 14:44] d99kris commented on #79
Hi Jim - I missed that part, let me take a look at the code on how to best enable that functionality. Unfortunately I won't be able to check today, but hopefully tomorrow or in the next few days.

[2021-02-22 14:47] jtaylorme commented on #79
It is greatly appreciated.  I was just going through the code myself to see if I could somehow update the structure after it was already in place.

Jim

[2021-02-22 15:07] d99kris commented on #79
So I'm not at a computer, but I'd imagine we could change the `Load` functions to something like:
[code]
Same for the Load accepting a stringstream.

But we would also need to add corresponding tests.

[2021-02-22 15:10] jtaylorme commented on #79
Yes.   That is what I am in the middle of trying right now.  Just about to test my changes.   The only problem with having the parameters optional is that it sees it the same as the doc.Load(filename) overload if they are not specified in the call.   I will let you know once I do some testing here in a bit.

Jim

[2021-02-22 15:44] jtaylorme commented on #79
The following seems to work as an overload.  I made LabelParams() required to avoid conflicts.  I will adjust once you make a final decision.  Thanks again.

`        void Load(const std::string& pPath, const LabelParams& pLabelParams,
            const SeparatorParams& pSeparatorParams = SeparatorParams(),
            const ConverterParams& pConverterParams = ConverterParams())
        {

[2021-02-22 15:53] jtaylorme commented on #79
The other thing I might suggest is to have a  doc.Clear() method to free up resources.  I am doing it by doc.Load(istringstream("")) but an explicit method might be useful as you would better know what needs to be cleaned up.  Not a big deal but maybe useful for when one has loaded a LARGE CSV file and is finished with it.

Thanks.

Jim

Jim

[2021-02-22 23:25] jtaylorme opened #81 "Insert Rows and Columns - A Thank you!!!"
Assuming you are interested in adding them, here is code for inserting rows and columns.  Guess you will want to tweak things a bit as well as making sure I didn't mess up something.  Tried to keep things in line with your other code.  Check on the cCount things I did in the row insert.  Probably a better way since you will know what you are doing.

Thanks again.

jim

        /**
         * @brie

[2021-02-23 12:25] d99kris commented on #79
Hi Jim,
Thanks a lot for sharing. I'll review and try to incorporate it into `rapidcsv`.

Yes, a `Clear()` can be provided. Currently I have added a private Clear function that can be made public.

[2021-02-23 12:27] d99kris commented on #81
Thanks a lot! I will take a look and see how to integrate this. It makes sense to support inserting columns/rows.

[2021-02-24 13:37] #79 closed

[2021-02-24 14:39] d99kris commented on #79
Hi again,
I've incorporated the suggested changes regarding Load() and Clear() now. Please let me know if you encounter issues relating to those.

I have not had time to look into your suggested functionality for inserting rows and columns yet, but will come to it eventually.

Thanks again for contributing!

[2021-02-24 14:42] jtaylorme commented on #79
Thank you.   I noticed and incorporated the Load() stuff a little bit ago.  Clear() wasn't ready yet as it was still private.  Will go and do that now.  Appreciate all your work.

jim

[2021-03-07 01:45] nmaludy commented on #54
Also curious if https://github.com/d99kris/rapidcsv/blob/master/CMakeLists.txt#L168 should install to `include` instead of `lib`, so we don't have to add the `lib` directory to our include list?

[2021-03-07 11:32] d99kris opened #84 "Install rapidcsv.h to include dir and add uninstall support"
As pointed out by @nmaludy in #54 the default `make install` target directory is ${PREFIX}/lib rather than ${PREFIX}/include.

The default installation path should, of course, be ${PREFIX}/include.

While we're making installation target changes we may just as well add `make uninstall` support at the same time.

[2021-03-07 11:33] d99kris commented on #54
Thanks for catching this! You are of course correct. I've reported a separate issue - #84 - to track this. Expect a fix soon.

[2021-03-07 11:38] #84 closed

[2021-03-10 12:37] d99kris commented on #81
Hi again @jtaylorme - thanks again for the contributions.

I made a bit of adjustments for consistency with the other functions in rapidcsv, and also added some tests.

It was committed above.

[2021-03-10 14:40] jtaylorme commented on #81
Most Excellent.  Thanks again.

Jim

[2021-03-18 16:22] hsdk123 opened #89 "Rename uninstall target"
The target name `uninstall` is too common, and will collide with other libraries.

https://github.com/d99kris/rapidcsv/blob/master/CMakeLists.txt#L191

This thread is a request to change the name to ex. `uninstall_rapidcsv`

[2021-03-19 06:51] d99kris commented on #89
In your use-case I suspect you are using rapidcsv as a sub-component, for example via `add_subdirectory()` or `FetchContent_MakeAvailable()` - is it correct?

I guess when rapidcsv is built/used as a sub-component it would be better for it to disable both `install` and `uninstall` completely, and only support them when rapidcsv is built/installed standalone. Do you have any concerns with such appr

[2021-03-19 13:16] hsdk123 commented on #89
Yup, exactly.

That sounds perfectly fine for my use case!

[2021-03-19 13:44] d99kris commented on #89
Great, thanks for the quick reply!

I'll look into this. I think rapidcsv should be able to determine whether its used as a sub-component using something like this:
https://stackoverflow.com/questions/42716466/how-can-i-tell-within-a-cmakelists-txt-whether-its-used-with-add-subdirectory

[2021-03-21 10:54] #89 closed

[2021-03-21 11:38] d99kris commented on #89
Thanks for reporting this @hsdk123 - a fix has been implemented (see above).

Let me know if you still encounter issues related to this. Thanks!

[2021-03-21 11:42] d99kris commented on #64
Due to inactivity I will proceed to close this issue. Feel free to re-open and provide requested information, then I can try help some more with the troubleshooting.

[2021-03-21 11:42] #64 closed

[2021-04-10 20:33] jtaylorme opened #91 "Load from string"
Sorry to bother you again but after a couple of hours of beating my head against the wall I thought I would ask...below things are somewhat cobbled together and isn't what my code looks like exactly but just to show you what I am doing and the pieces involved.   I have been loading from a file but decided having an option to load from a string would be useful.   I keep getting the "ios_base::failb

[2021-04-11 01:56] d99kris commented on #91
Hello @jtaylorme - I think the main problem in the provided code is that Load() is called with csvstring argument, rather than sstream. If I change the code to the following it seems to work (at least not throw exception):

[code]

There's another Github issue #63 reported suggesting rapidcsv should provide more developer friendly exceptions. I hope I can find time to look into implementing that s

[2021-04-11 01:58] jtaylorme commented on #91
Once again I must apologize.  I knew it would be something blatantly obvious...those are hardest to find for me.  Thanks again.

Jim

[2021-04-11 01:58] #91 closed

[2021-05-08 08:54] d99kris commented on #55
Better late than never, this has finally been implemented now. :)

Use LineReaderParams to enable ignoring empty lines, see README.md or tests/test083.cpp for example.

[2021-05-08 08:56] d99kris commented on #61
This has finally been implemented now.

Use LineReaderParams to enable skipping comment lines, see README.md or tests/test084.cpp for example.

[2021-05-08 08:56] #61 closed

[2021-05-08 18:00] heitorPB commented on #61
That's great! Thanks!

[2021-05-09 11:06] ooxi commented on #55
Thank you very much!

[2021-06-06 17:39] TXCodeDancer opened #93 "Ignore consecutive separators"
Thank you so much for creating this library. It's taken away all of the heavy lifting of working with CSV files in C++.

I'm using this library to parse [Log ASCII Standard](http://frackoptima.com/userguide/interface/las.html#:~:text=Log%20Ascii%20Standard%20%28LAS%29%20files%20are%20used%20in,Logging%20Society%20to%20standardize%20well%20log%20data%20storage.) (*.las) files. One of the oddities o

[2021-06-08 14:43] d99kris commented on #93
Hi @TXCodeDancer - thanks for sharing!
I'll review this and see how/if we can incorporate it.

[2021-07-26 12:44] dellorogiulio commented on #23
Hi, I'm trying to read a UTF-16 LE csv file, you can find it attached.
Consider the code below:

[code]
I do not understand why eme1.size() is equal to 0. Debugging what's happening under the hood, I find that utf16 and LE are correctly recognized (`mIsUtf16  true, mIsLE  true`) but when it tries to parse the `wss wstringstrem` (line 1388):

[code]
it prints:

[code]

This is quite strange to me,

[2021-08-06 01:00] nickhuangxinyu opened #95 "how rapid is this?"
comparing pure split string method, how rapidcsv can speed up?

[2021-08-07 14:16] d99kris commented on #95
Hi @nickhuangxinyu - as pointed out in the [project description](https://github.com/d99kris/rapidcsv#rapidcsv) `rapidcsv` is more focused on rapid development and ease-of-use, not raw performance.

One can design faster CSV parsing (than `rapidcsv`) by leaving more work to the application and/or limiting the CSV parsing features (not supporting quoted cells, not supporting UTF-16, etc).

There are

[2021-08-07 14:16] #95 closed

[2021-08-09 15:22] karthikurs opened #96 "std::out_of_range -- rapidcsv thinks some rows don't have all the columns"
Hello,

I'm using `rapidcsv` to load in some test data.

There are 26 columns, and `rapidcsv` succeeds in finding all the column headers (I can print them all out).

However, when attempting to load column 18, I get
[code]

Here's a snipped of the data:
[code]

and here's how I'm loading the doc:

[code]

and here's the printing I get from this code:

[code]

Any tips on how to debug this? I have

[2021-08-09 16:14] karthikurs commented on #96
Using `GetCell()`, I've found that the first incomplete row is here:

[code]

The first row in that block works, but the second row creates the exception. Is this an issue of running out of memory maybe? Nothing seems wrong with the row in terms of the values present.

[2021-08-10 12:39] d99kris commented on #54
Let's track the Modern CMake improvements under the PR #56 and re-open it when/if there are updates. Thanks!

[2021-08-10 12:39] #54 closed

[2021-08-10 12:43] d99kris commented on #49
Hi again.
Unfortunately there hasn't been much progress on this (so far), and I don't anticipate finding time to work on Conan support in any near future. I will proceed to close this issue.

If anyone is willing to do conan packaging, feel free to do so, and submit PR (if any rapidcsv changes are needed). Thanks.

[2021-08-10 12:43] #49 closed

[2021-08-10 13:39] d99kris commented on #96
Hi @karthikurs - I don't see anything obvious at a first glance.

I don't think it's running out of memory, assuming the system has at least ~10 MB free RAM.

Assuming the data is not of confidential nature, could you upload it here in the issue alternatively email it to me (d99kris at gmail dot com)? Then I could try it out on my side.

[2021-08-10 15:04] karthikurs commented on #96
[leg_test_07_08_2021_15-47-26.zip](https://github.com/d99kris/rapidcsv/files/6962670/leg_test_07_08_2021_15-47-26.zip)

I've attached the data in a .zip file.

In case this is useful to know -- I wrote a python script to extract just the columns of interest for my program and put them into their own csv. `rapidcsv` handles that csv just fine (has the same column headers too).

Also, I'm running al

[2021-08-11 13:28] aguirreeng opened #97 "update on `vcpkg`"
Please update it on `vcpkg`, the version available there (8.50) does not have some of the new classes and support (i.e. `LineReaderParams`).

Nice lib by the way, I would just suggest an additional option on `LineReaderParams` to allow skipping a given number of lines at the top of the file.

Cheers.

[2021-08-15 06:54] d99kris commented on #97
Hi @aguirreeng - I only maintain the source repository for rapidcsv. I'm not involved in other distribution of rapidcsv, via for example package managers. I would propose checking with `vcpkg` how to request an update.

Thanks! Actually, assuming your CSV data has column labels, one should be able to set the column label offset to a value > 0, to skip that many lines at the beginning.

Let's say t

[2021-08-15 06:54] #97 closed

[2021-08-15 09:55] d99kris commented on #96
Thanks for sharing the CSV file. I can reproduce the problem here. It appears the last line of the file only has 13 columns, so rapidcsv throws an error, when trying to access the 18th column. If I remove the last line of the CSV file, the test program can run. Likewise if one adds all necessary columns to that line it should work.

Somewhat related to this I'm looking at issue #63 which requests

[2021-08-15 09:55] #96 closed

[2021-08-15 12:32] #63 closed

[2021-08-15 12:34] d99kris commented on #63
Yeah, I think that's a reasonable and good idea for rapidcsv to support. It will also has minimal performance impact.

The above commit implements support for this, with exception message on the format `requested column index 2 >= 2 (number of columns on row index 1)`.

[2021-08-15 17:32] karthikurs commented on #96
That makes sense, thanks for looking into it. I generate the files in a real-time process that can end in the middle of writing a line. Is there a way to ask `rapidcsv` to ignore the last line, or assume nans for missing columns?

[2021-08-16 11:35] d99kris commented on #96
No, rapidcsv does not provide such functionality today.

[2021-09-01 03:29] flagarde opened #98 "Insert some comment when writing csv files"
Hello,
Thank for this nice library :)

I have trouble to include some comment when writing csv files. Does the library provide a way to do it ?

[2021-09-03 13:48] d99kris commented on #98
Thanks @flagarde! Could you share some example on what type of comment you mean?

Is it first row(s) comments, like:
[code]

Or perhaps comment at the end of each line, like:
[code]

Or perhaps something else?

There's no specific built-in feature for writing comments today, but it's possible existing functionality could be used in some way.

[2021-09-07 10:07] flagarde commented on #98
Hello,
Sure . I'm using your library to write csv coming from some data analysis. We are playing with a lot of parameters so I would like to save the command line as comment int the first line. For example :

[code]

Best regards

[2021-09-28 16:31] Bdoom opened #99 "Sorting Functionality"
Are there any plans to add the ability to sort by columns? For example, sort by name, then price, then date?

[2021-09-30 14:20] d99kris commented on #99
Hi @Bdoom - no, there are no such plans, it's unfortunately out-of-scope for rapidcsv. It's simply a library for reading/writing CSV files.

[2021-09-30 14:20] #99 closed

[2021-11-17 20:42] jamestremmel opened #100 "Double quotes are removed when doc.Save() is called"
Hey there! I am trying to manipulate a csv file using the rapidcsv library. I presented the code with a csv file that has "," as a delimiter and quotations to wrap the data entries. So the data looks something like this:

[code]

When I run the code and delete a row then save the document to keep the changes made, the quotations are removed but the comma delimiter is still there and I can't figure

[2021-11-18 12:14] d99kris commented on #100
Hi @jamestremmel - so the way `rapidcsv` (currently) works is that is "de-quotes" fields upon read when `pAutoQuote` is `true`, and then upon `Save()` it only quotes fields needing quotes - for example if they contain space.

You can modify `rapidcsv` to always quote fields if `pAutoQuote` is `true` using the attached [patch.txt](https://github.com/d99kris/rapidcsv/files/7562653/patch.txt).
[code]

[2021-11-24 23:51] dhern023 opened #101 "Supported Get/Set Data Types Example is incomplete; do setters allow composing a csv?"
Great library. Super intuitive (coming from longtime pandas user) and very easy to install via FetchContent.

Unless I'm misunderstanding, PR #35 allows for appending rows, but all of the pieces of code in `ex006.cpp` show getting, and not setting.

To compose a csv, does that mean it's possible to open an empty csv file, set rows/columns to append data, then call `doc.Save()` to construct it? Can

[2021-11-25 18:50] jamestremmel commented on #100
That's really helpful and solves my problem! Thank you!
I think it would be useful for sure; the format of the file saved would ensure double quote and could be opened by other programs that would require a specific consistent format.

[2021-11-25 18:50] #100 closed

[2021-11-27 11:20] d99kris commented on #100
Glad to hear that it helped!

Ok thanks, I will keep your input in mind and hopefully get around to taking a look at this eventually.

[2021-11-27 14:14] d99kris commented on #101
Thank you!
It is possible to compose a CSV document from scratch using rapidcsv, but the API was designed with focus on reading and modifying existing CSV files, so it's a bit of a roundabout way to create a document from scratch.

Having that said, some tests in the test suite does exactly that - for example [tests/test009.cpp](https://github.com/d99kris/rapidcsv/blob/master/tests/test009.cpp) an

[2021-11-27 23:22] dhern023 commented on #101
Thanks. I have a csv reader and writer that reads in a 2D vector of strings, but I'd like to stick with one API as much as possible.

I also noticed the rapidcsv::Document has no begin() and end() attributes, does that mean the only way to loop is via indices and not foreach? I have a function that selects rows to give an example.

[code]

[2021-11-28 14:00] d99kris commented on #101
Ok that makes sense.

Yes, currently this is the case. The API was designed mainly to facilitate reading CSV data by columns. I know many other CSV libraries focus on iterating over entire rows.

Internally the raw parsed data (including any header row and column) is stored in the private member
[code]
which is a vector of rows, and each row is a vector of cells/strings. So for your use-case you c

[2021-12-11 05:31] d99kris commented on #98
Hi @flagarde - thanks for providing more details about the use-case, and sorry about the late reply. Rapidcsv can support writing such files, but it requires you to "manually" manage the column labels, and to insert the comment line last.

Example creating a CSV file from scratch:
[code]
The resulting file will be:
[code]
Another use-case may be starting with an existing file, example `orig.csv` c

[2021-12-11 05:38] d99kris commented on #93
Hi @TXCodeDancer - so after careful and a bit (too) long consideration I've arrived at not including this functionality in rapidcsv. It's a bit of a corner use case and technically not a CSV format in the traditional sense.

Thanks though for providing the solution above, it may come in handy for other developers googling the problem.

I will proceed to close this issue, but feel free to re-open i

[2021-12-11 05:38] #93 closed

[2021-12-11 05:39] d99kris commented on #101
I will proceed to close this issue, but feel free to re-open it if you have any follow-up questions on the same topic.

[2021-12-11 05:39] #101 closed

[2021-12-11 05:40] d99kris commented on #98
I will proceed to close this issue, but feel free to re-open it if you have any follow-up questions.

[2021-12-11 05:40] #98 closed

[2021-12-31 05:01] d99kris commented on #64
I've added an idea in the [stackoverflow thread](https://stackoverflow.com/questions/64942963/aws-lambda-c-runtime-seg-fault-but-works-locally) for this same issue, basically suggesting that the issue may be that the lambda is running out of memory.

[2022-01-20 14:03] estan opened #102 "Parsing of double is locale dependent?"
I was looking through the code of rapidcsv and noticed that std::stod is used when converting string to double.

This means the parsing will be locale dependent, right? Is this not unwanted in a library dealing with parsing of files? E.g. say an application author only wants to accept '.' (period) as decimal separator, the only way to control this would be with a call to setlocale I think?

[2022-01-20 14:25] d99kris commented on #102
Hi @estan - good observation, yes I believe `setlocale()` will be required today. Alternatively one can override the default conversion routines, similar to in https://github.com/d99kris/rapidcsv/blob/master/examples/ex008.cpp

Possibly we could consider adding some parameter for rapidcsv to perform some locale-independent parsing (and writing). I'll need to do some research and see what makes sen

[2022-02-17 01:41] stellarpower opened #103 "Accessing Floating-point Cell as Integral Type Implicitly Rounds Off"
Hi,

I have a CSV file containing floats between 0 and 1. I copy-pasted my code using RapidCSV, and I did't notice that I forgot to change the template arugment from `unsigned` to `double`. When I accessed the value of the cell as an integral type, instead of as a floating-point type, the value was silently rounded, and because the numbers were less than 1, this was harder to notice in debugging (

[2022-02-18 16:58] stellarpower commented on #103
I agree in that sense. But in those cases, we have control over the data in the program. If I'm asking to divide two floats and assigning it to an integer, then, even if not intended, I'm specifying to the compiler that this is what I am asking for and it's on me to ensure I do it correctly. But if we have user input as a CSV, and I want to provide an explicit format I want the data to be in, then

[2022-03-05 04:47] #102 closed

[2022-03-05 04:47] d99kris commented on #102
Support for locale-independent float parsing has been added in above commit. It's disabled by default, mainly for backward compatibility and also due to higher performance using `std::stod`.

It's enabled by setting `ConverterParams` member `mNumericLocale` to `false`.

[2022-03-05 16:36] estan commented on #102
@d99kris Excellent, thanks!

[2022-03-05 18:11] estan commented on #103
Just to chime in, you could add a `Converter<unsigned>::ToVal` specialization to get stricter parsing of unsigned, e.g. something like (modified example from README.md, untested):

[code]

[2022-03-09 07:45] RedBreadcat opened #104 "Parsing issue reading from a stream >64KB on Windows"
Hello,
I'm encountering a parsing issue on Windows files >64KB. This has occurred across several different machines. `GetRowCount` (and `rapidcsv::Document`'s internal `mData` member) have more rows than is present in the file.
I have seen this issue on the latest master ee33419b9ff0a6dc3188444557175bb443820732, as well as release 8.53.

I believe that this is related to the way that the MSVC stan

[2022-03-09 11:48] d99kris commented on #104
Hello,
Thanks for reporting the issue and providing the detailed analysis! It's a pretty bad bug and I'm surprised it's not been encountered (or detected) before.

I can confirm your test case reproduces the issue on MSVC for me as well. I'm preparing a fix in rapidcsv (incl. updates to documentation and test cases) and will likely get it in this weekend.

Meanwhile, if you need to work around it,

[2022-03-09 12:05] RedBreadcat commented on #104
Great, thank you for the ergonomic suggestions to work around the issue in the meantime!

[2022-03-12 09:19] #104 closed

[2022-03-12 09:24] d99kris commented on #104
Hello,
The reported issue has been addressed in above commit. Please let me know if you encounter any issues. Thanks!

[2022-03-18 06:38] ezemskov commented on #104
Thanks Kris,
rapidcsv 8.61 fixes our issue.

[2022-04-25 14:07] d99kris commented on #103
Thanks @stellarpower for providing additional background. I can understand the rationale, but I'm still reluctant to implement the requested functionality. At this point I consider `rapidcsv` mostly functional complete - and thus in maintenance (bug fixing) stage, but feel free to fork (and ideally rename) and add desired functionality. Alternatively there may be other C++ CSV parsing projects wil

[2022-04-25 14:07] #103 closed

[2022-05-04 20:28] jtaylorme opened #106 "Quotes in Text"
If one has data such as below (note "Norway) , when I do a GetCell() on ADDRESS1 it will pull the data for ADDRESS1 and SALARY1.  If the quote is anywhere else in the text it works as expected.  Only when it is in the first position is there a problem.   This is an issue whether you use AutoQuoting or not.   The text is TAB delimited.

Thanks.

Jim

ID_NO	NAME1	AGE1	ADDRESS1	SALARY1
2	Allen	25	|Te

[2022-05-05 13:03] d99kris commented on #106
Hi - this type of CSV formatting is not supported today by rapidcsv.

I suppose we can look into
`(a)` make it configurable to disable the handling of double-quoting of cells,
or
`(b)` maybe make the quoting character configurable (default `"`).

Is the `|` around the `Texas` cell considered "quotation marks" in this type of CSV data? If yes, maybe option `(b)` is more suitable.

[2022-05-05 13:08] jtaylorme commented on #106
Don't worry about it unless you think it would be a good thing for which to account.   Just wanted to bring it to your attention.  The odd characters were simply stress testing for my application.  Just wanted to see what would happen with odd characters in the data as I won't have control over the data used.

Also, another question.   If set LabelParams(0, -1) like this.   Should I be able to see

[2022-05-05 13:24] d99kris commented on #106
Thanks for the quick reply! For the leading `"` character I may skip adding any special functionality for that for now, as it's very common for CSV parsers/readers to treat such data as a quoted cell (in rapidcsv's case until end double quote or end of file).

The way I reason about `LabelParams(pColumnNameIdx, pRowNameIdx)` is that it allows me to specify where in the raw (zero-index based) CSV d

[2022-05-05 13:28] jtaylorme commented on #106
Understood.  I just thought if I told it to use column names then I wouldn't be able to use an index number in the row and see the column returned as a value.   Another thing that isn't a big deal as long as I know what to expect.   Just caught me off guard when I was returning rows and it returned the column headers as a row.

Thanks again.

Jim

[2022-05-05 13:39] d99kris commented on #106
Ok, yeah, so rapidcsv allows you to use column index even after specifying that there's for example a column with row labels. But that column index will be zero-based and point to **after** the column of row labels..

[2022-05-05 13:42] jtaylorme commented on #106
No problem.   Expectations is the main problem, rather than how it works... was just expecting it to act a certain way :-)

jim

[2022-05-05 13:53] d99kris commented on #106
Totally understandable. I've been thinking of some graphical illustration to show how it works (and how labels map to indices), but I've not come around to putting something together yet.

I'll close this issue for now. Feel free to re-open for any follow-up questions.

[2022-05-05 13:53] #106 closed

[2022-05-09 16:26] vagrawal-aptina opened #107 "How to skip few rows before loading"
Hi,

I have a CSV file, whose actual data starts from row other than 1(say 9, its variable).
So i was looking how can i skip few rows from starting before loading so that library gets correct header count/column?
Do we have that feature?

Thanks

[2022-05-10 13:36] #107 closed

[2022-05-10 15:49] vagrawal-aptina opened #108 "Compilation error on Windows"
Hi,

I am getting compile error as :
/csvParser.h(786,1): error C2589: '(': illegal token on right side of '::'

when i replace it with it(std::max) expanded form, it works.

Vishal

[2022-05-10 15:58] vagrawal-aptina commented on #108
its a same rapidcsv.h
I just changed the name according to my nomenclature.
I am running it on windows VS2019 with C++17 compiler

[2022-05-10 16:39] d99kris commented on #108
Ok thanks! I found this from a quick Google search:
https://stackoverflow.com/questions/2561368/illegal-token-on-right-side-of

Could you check if your cpp file is including "windows.h"? If not, could you share your cpp file?

Rapidcsv is built with CI testing on Windows, Mac and Linux, so I would expect it to work on those platforms, but it's possible there's some quirk for certain Windows projec

[2022-05-10 19:05] vagrawal-aptina commented on #108
Yes, windows.h is included.
However the error is resolved by putting std::max inside parenthesis like:
(std::max)(...)
by doing this, it works with no compilation error.
So i request you to please check this if it works for other compiler as well, if yes, you can update the library

Thanks,
Vishal

[2022-05-11 12:57] d99kris commented on #108
Hi @vagrawal-aptina - thanks for providing additional information!

Yes, this is an issue that should be fixed in `rapidcsv`. Preliminarily I'm planning to extend the test suite to cover this scenario, and the fix will probably be changing `std::max` to `std::max<size_t>`.

I will update here once it has been fixed. Likely end of this week.

[2022-05-11 13:00] vagrawal-aptina commented on #108
std::max to std::max<size_t> will be optimal solution.
Thanks.

[2022-05-14 03:48] #108 closed

[2022-05-14 03:50] d99kris commented on #108
This should be fixed in above commit.
Thanks for reporting the issue.

[2022-06-02 14:01] jtaylorme opened #109 "Removing Columns"
I am not certain if this is just me or a problem with the library but I have discovered that if I Remove multiple columns my script quietly exits with no errors.   This usually means something has crashed within a library rather than a script error on my side, in the environment I am working.   I could, of course, still be the cause.   In any event, the problem occurs after deleting around 5 - 10

[2022-06-02 14:20] jtaylorme commented on #109
I think it may also be removing the wrong column header, at times, and/or not removing the column header.   I tried saving and reloading the csv file after 3-4 removals to overcome the problem but am getting errors about columns not existing, even though i hadn't removed them yet.  When I look at the file I find headers I already deleted along with ones missing that I haven't deleted.  Seems to ad

[2022-06-02 14:35] jtaylorme commented on #109
As far as I can tell, deleting by Index works as expected.   I tried deleting from left to right and right to left and both approaches worked.

Jim

[2022-06-03 04:49] d99kris commented on #109
Thanks for reporting the issue. I'll try to look into this.

[2022-06-03 18:29] jtaylorme commented on #109
Did some experimenting and as far as I can tell.   It is keeping the original header list on RemoveCol.    It removes the column in the data but if column names are being used it doesn't remove it from the header reference data.   Didn't test row names but probably want to check that as well.   I put in a message box and, for example, if Item# is in column 8 and I delete a couple of columns prior

[2022-06-06 14:12] d99kris commented on #109
I can also reproduce the problem and have some idea on how it can be fixed. I'm not sure when I can get it done though as I'm going for vacation this week and next, but will update here in case I get something in.

[2022-06-06 14:14] jtaylorme commented on #109
Thought I had it fixed and was going to send code for what I did but I am apparently missing how the header names are maintained.   I would remove the appropriate one but it wasn't changing the original, apparently, so it would come back with the original header mapping on the next Remove :-(

[2022-06-06 14:14] jtaylorme commented on #109
Thanks.   Enjoy your vacation.

[2022-06-19 11:53] #109 closed

[2022-06-19 11:53] d99kris commented on #109
The above commit should fix accessing by labels after document edit, such as insertion or removal of rows/columns. Let me know if there are still any issues relating to this. Thanks!

[2022-06-19 14:31] jtaylorme commented on #109
Thank you VERY much.   I will give it a whirl.

[2022-06-19 14:49] jtaylorme commented on #109
As far as I can tell that did the trick.  Haven't tried rows but column stuff seems to be in order now.  Thanks again.

[2022-06-19 14:54] d99kris commented on #109
Good to hear! 👍

[2022-06-19 15:40] homer6 commented on #63
Thanks to you both, @d99kris and @jpownby. With this discussion, I was able to sidestep this error with this code:
[code]

[2022-07-04 00:32] IlannM opened #110 "std::string_view support"
Hi i'd like to request C++17's `std::string_view` support for this lib. Afaik it may be faster in some situations rather than the old `const std::string&`

[2022-07-08 21:48] laoshaw opened #111 "sign-conversion warnings"
would be nice to eliminate warning like this:

[code]

there are a lot of them.

[2022-07-19 13:54] d99kris commented on #111
Thanks for pointing this out, it makes sense. Will prepare a fix.

[2022-07-24 06:26] d99kris commented on #111
A fix for this is under review in pull request #112 - will update this issue once it's integrated to master branch.

[2022-07-24 12:33] #111 closed

[2022-07-24 12:35] d99kris commented on #111
The sign conversion warnings should be fixed in master branch now, with above commit. Please let me know if you still encounter any warnings.

[2022-07-24 12:51] d99kris commented on #110
Hi @IlannM - are you proposing the rapidcsv API to provide functions returning/accepting std::string_view, or are you referring to the internal data representation of a CSV document in the library?

I have previously done some study implementing "my own string_view" for internal data representation and I did not observe any measurable performance improvement. The reason is likely that std::string

[2022-07-25 05:44] IlannM commented on #110
yes, I am referring to the API returning and accepting the `std::string_view` type.

[2022-10-08 09:52] d99kris commented on #110
Thanks for clarifying.

I think the performance benefit for using std::string_view in the API's is small, given the fact that most CSV data cells are small.

I think if I eventually change rapidcsv to use string_view internally, I'll profile the performance and see if we should add such APIs.

For now I'll close this issue.

[2022-10-08 09:52] #110 closed

[2022-10-14 07:47] T-Maxxx opened #113 "Make quoting character configurable"
Hello there!
Firstly I want to thank you for this project. It helped me to solve one localization issue on ppc64le architecture. It seems everything is working flawlessly.
I want to request one more feature from you: _configurable quotation mark_. Right now I have to use other third-party CSV parser library which is abandonware but still has freedom to choose which quotation mark to use. So my pro

[2022-10-15 08:04] d99kris commented on #113
Hello!
Yes, this sounds like a reasonable request. Will take a look at this.

[2022-10-22 08:33] #113 closed

[2022-10-22 08:35] d99kris commented on #113
Hi, support for custom quote character has been added in above commit.

Example usage from https://github.com/d99kris/rapidcsv/blob/master/tests/test090.cpp
[code]

[2022-11-14 08:17] matwey opened #115 "`pTrim` unexpectedly fails when `pSeparator` is the space character"
Hi,

I am using rapidcsv 8.65 and see the following issue.
Imagine the following `test.dat` file:
[code]
(three spaces between 1.2 and 3.4)

and the following code:
[code]

What I see is:
[code]

What I expected to see is:
[code]

I think so because when I change the separator both in the data and in the code as the following:
[code]
and
[code]
then the code prints `3.4`.

[2022-11-15 13:13] d99kris commented on #115
Hi @matwey - I'm not at a computer now so I haven't checked your issue in detail, but I suspect the use case is similar to #93 which was deemed out of scope for rapidcsv. There was some proposed changes in that issue which you could take a look at if you like, until I review your issue properly.

[2022-11-22 11:09] d99kris commented on #115
Hi again - so I can confirm the code in #93 should word for your use-case.

You can use the patch [consecutive-separators.patch.txt](https://github.com/d99kris/rapidcsv/files/10066755/consecutive-separators.patch.txt)
attached in this issue to apply to rapidcsv:
```git apply consecutive-separators.patch.txt```
and then use the mIgnoreConsecutive option like this:
[code]

Having reviewed this use c

[2022-11-22 11:09] #115 closed

[2022-11-28 14:29] hwhsu1231 opened #117 "[bug] Test errors occur when running `winmake.bat` on non-utf8 default encoding platform."
### Problem Description

I found that there will be test errors when running `winmake.bat` on **"non-utf8"** default encoding platform. Take my Windows platform for example. Since my locale setting is **"Taiwan(台灣)"**, the default encoding of MSVC compiler is **"big5"**. As we can see in the following Log and Screenshots, there are:

* **warning C4819** on `test085.cpp(1,1)`
* **error C2001** on `

[2022-11-28 14:35] hwhsu1231 commented on #117
And the solution I found is to add `add_compile_options("/utf-8")` for MSVC compilers in `CMakeLists.txt`. After doing so, the error is solved.

<details><summary>Click to expand log</summary>

[code]

</details>

[2022-11-28 15:11] hwhsu1231 opened #119 "[feature] Add the Imported Target "rapidcsv::rapidcsv" and Config Files for find_package command."
### Feature Request

This library is **"header-only"**. Therefore, we can just copy the `rapidcsv.h` to our project to use it. However, I highly recommend that it provide:

* Config File: `rapidcsv-config.cmake`
* Version File: `rapidcsv-config-version.cmake`
* Imported Target: `rapidcsv::rapidcsv`

So that users can use `find_package(rapidcsv)` command to acquire an imported target `rapidcsv::rap

[2022-11-29 05:05] hwhsu1231 opened #120 "[bug] Cannot run `winmake.bat` directly to configure and build the project on Windows."
### Problem Descrpition

There is a batch file for Windows called `winmake.bat`, which can help us to configure and build the project automatically. However, I found that we need to prepare the MSVC environment with `vcvarsall.bat` before running `winmake.bat`. Otherwise, the system cannot find `msbuild.exe` command.

<details><summary>Click to expand logs of running "winmake.bat" without "vcvarsa

[2022-11-29 14:23] d99kris commented on #119
Hi @hwhsu1231 - thanks for suggesting this feature. I'll need to do some read up to know what's needed, but it seems like a reasonable functionality. If you know some other (ideally header-only) project providing this functionality, please let me know, so I can check how they've implemented it. Thanks!

[2022-11-29 14:26] d99kris commented on #120
Hi @hwhsu1231 - thanks for reporting and suggesting a fix. I'll take a look, but at a first glance it sounds like a good approach.

[2022-11-29 14:42] hwhsu1231 commented on #119
@d99kris - I suggest that it take [CLI11](https://github.com/CLIUtils/CLI11) library for reference. This project is header-only as well, and will provide Config Files and Imported Target after running `cmake --install` command.

https://github.com/CLIUtils/CLI11/blob/v2.3.1/CMakeLists.txt#L145-L177

[2022-11-29 14:43] d99kris commented on #119
Great, thanks! Will check it out.